/****************
ALIEN GAME - MAIN CSS
******************/

/*Nav*/

header ul li {
	display:inline;
	color: white;
	margin: 1% 0.5%;
	padding: 0.5% 1%;
	font-size: 1.5em;
	border: solid 2px white;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

header ul li:hover {
	background-color: white;
	color:black;
}

a:hover {
	color: black;
}

/*Instructions*/

#instruction1 {
	color: white;
	max-width: 50%;
	font-size: 3em;
	margin: 0% 10%;
	display: none;
}

#instruction2 {
	color: white;
	max-width: 50%;
	font-size: 2.5em;
	margin: 0% 10%;
	display: none;
}

#instruction3 {
	color: white;
	max-width: 50%;
	font-size: 1.3em;
	margin: 0% 10%;
	display: none;
}

#button1 {
	color: white;
	margin: 1% 0.5%;
	padding: 0.5% 1%;
	font-size: 0.5em;
	border: solid 2px white;
	max-width: 9%
}

#button1:hover {
	background-color: white;
	color:black;
}

#button2 {
	color: white;
	margin: 1% 0.5%;
	padding: 0.5% 1%;
	font-size: 0.5em;
	border: solid 2px white;
	max-width: 8%
}

#button2:hover {
	background-color: white;
	color:black;
}

#button3 {
	color: white;
	margin: 0.5% 0.5%;
	padding: 0.5% 3%;
	font-size: 1em;
	border: solid 2px white;
	max-width: 13%
}

#button3:hover {
	background-color: white;
	color:black;
}

/*Spacecrafts*/

#alienship {
	position: fixed;
	top:40;
	max-width: 20%;
	margin: 0% 40%;
	display: none;
}

#earthship {
	position: fixed;
	top:400;
	left:45;
	max-width: 13%;
	margin: 0% 40%;
	display: none;
}

/*Health*/

#alienhealth {
	position: fixed;
	top: 40;
	left: 700;
	color: white;
	background-color: green;
	max-width: 9%;
	font-size: 2em;
	padding: 1%;
	border-radius: 100%;
	display: none;
}

#earthhealth {
	position: fixed;
	top: 400;
	left: 700;
	color: white;
	background-color: green;
	max-width: 9%;
	font-size: 2em;
	padding: 1%;
	border-radius: 100%;
	display: none;
}

/*Play Buttons*/

#attackbutton, #healbutton, #defendbutton {
	position: fixed;
	display:none;
	color: white;
	padding: 0.5% 1%;
	font-size: 1.5em;
	border: solid 2px white;
	text-decoration: none;
}

#attackbutton {
	left: 40;
	top: 200;
	max-width: 7%;
}

#healbutton {
	left: 40;
	top: 300;
	max-width: 7%;
}

#defendbutton {
	left: 40;
	top: 400;
	max-width: 7%;
}

#attackbutton:hover {
	background-color: red;
	color: black;
}

#healbutton:hover {
	background-color: green;
	color: black;
} 

#defendbutton:hover {
	background-color: blue;
	color: black;
}

/*Turn Messages*/

#alienmessages, #earthmessages {
	font-size: 1.3em;
}

#earthmessages li{
	color: white;
	text-decoration: none;
	display: inline;
}

#alienmessages li{
	color: white;
	text-decoration: none;
	display: inline;
}

		/*EARTH'S Turn Messages*/

#attackmiss{
	position: fixed;
	top: 220;
	left: 320;
	display: none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(0, 0, 255, 0.5);
}

#attackbomb{
	position: fixed;
	top: 220;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(0, 0, 255, 0.5);
}

#attackcannon{
	position: fixed;
	top: 220;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(0, 0, 255, 0.5);
}

#attackgun{
	position: fixed;
	top: 220;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(0, 0, 255, 0.5);
} 

#healon{
	position: fixed;
	top: 220;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(0, 0, 255, 0.5);
} 

#shieldon{
	position: fixed;
	top: 220;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(0, 0, 255, 0.5);
} 

	/*ALIENS' Turn Messages*/

#attackmiss2{
	position: fixed;
	top: 300;
	left: 320;
	display: none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(255, 0, 0, 0.5);
} 

#attackbomb2{
	position: fixed;
	top: 300;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(255, 0, 0, 0.5);
} 

#attackcannon2{
	position: fixed;
	top: 300;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(255, 0, 0, 0.5);
} 

#attackgun2{
	position: fixed;
	top: 300;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(255, 0, 0, 0.5);
}

#healon2{
	position: fixed;
	top: 300;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(255, 0, 0, 0.5);
} 

#shieldon2{
	position: fixed;
	top: 300;
	left: 320;
	display:none;
	padding: 1%;
	border-radius: 20%;
	background-color: rgba(255, 0, 0, 0.5);
}


