/****************
NEW BLOGS PAGE - MAIN CSS
******************/

.projects {
	clear:both;
	margin-bottom: 3%;
}

/*Cheatsheet Project*/

#DBCtitle {
	margin-bottom: 8%;
	font-size: 1.2em;
	color: white;
}

#DBCimg {
	width: 200px;
	height: 200px;
	border-radius: 10%;
	margin: 2% 2% 1% 5%;
}

/*Alien Project*/

#Perstitle {
	margin-left: 7%;
	margin-bottom: 8%;
	font-size: 1.2em;
	color: white;
}

#Persimg {
	width: 200px;
	height: 200px;
	border-radius: 10%;
	margin: 2% 5% 1% 2%;

}

#Perstitle:hover, #DBCtitle:hover{
	color: black;
}

footer {
	clear:both;
}