/****************
BLOG PAGE - MAIN CSS
******************/

.main-blog {
	clear: both;
	padding: 15px;
	margin: 10px;
}

.main-blog ul {
	list-style: none;
	background-color: #077F70;
}

#DBC-left {
	float: left;
}

#Pers-left {
	float: left;
}

.main-blog img {
	width: 200px;
	height: 200px;
	margin: 20px 20px 0px 20px;
	border: 1px solid;
	border-radius: 25px
}

#DBCBlog, #PersonalBlog {
	border-style: solid;
	border-color: #077F70;
	border-radius: 25px;
	padding-bottom: 1%;
}

#DBCBlog ul li p a, #PersonalBlog ul li p a {
	text-decoration: none;
	color: white;
	padding-left: 10%;
}

#DBCBlog ul li a img, #PersonalBlog ul li a img {
	border-color: #077F70;
}

#DBCBlog {
	margin-bottom: 2%;
}

.posts {
	padding-top: 70px;
}

.posts li {
	padding: 10px;
	clear: right;
}

.posts li a {
	text-decoration: none;
	color: white;
}

div {
	clear: both;
}

/****************
FOOTER CSS - extra
******************/

footer {
	padding-top: 20px;
}

