/****************
NEW!!!! PROJECTS PAGE - MAIN CSS
******************/

.myprojects {
	text-align: left;
}

#coding {
	float: left;
	width: 45%;
	display: inline-block;
}

#stories {
	float: left;
	margin-left: 10%;
	width: 45%;
	display: inline-block;
}


.myprojects ul {
	list-style-type: none;
}

.myprojects ul li strong a {
	text-decoration: none;
	color: #077F70;
}

.myprojects ul li strong a:hover {
	text-decoration: underline;

}














/****************
PROJECTS PAGE - MAIN CSS
******************/

.projects {
	clear:both;
	margin-bottom: 3%;
}

/*Cheatsheet Project*/

#cheatertitle {
	margin-bottom: 8%;
	font-size: 1.2em;
	color: white;
}

#cheaterimg {
	width: 200px;
	height: 200px;
	border-radius: 10%;
	margin: 2% 2% 1% 5%;
}

/*Alien Project*/

#alientitle {
	margin-left: 7%;
	margin-bottom: 8%;
	font-size: 1.2em;
	color: white;
}

#alienimg {
	width: 200px;
	height: 200px;
	border-radius: 10%;
	margin: 2% 5% 1% 2%;

}

#alientitle:hover, #cheatertitle:hover{
	color: black;
}

footer {
	clear:both;
}