/****************
NAV CSS
******************/

@media screen and (max-width: 575px) {
    .right-nav {
        float: left;
        padding-left: 0px;
    }
}

@media screen and (max-width: 525px) {
    .disappear {
        display: none;
    }
    .left-nav {
        margin-left:21%;
    }
}

/****************
BLOCKS
******************/

@media screen and (max-width: 700px) {
    .main li {
        margin-left: 15%;
    }
}

/****************
CONTACT FORM
******************/

@media screen and (max-width: 1000px) {
    .form {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .new_button {
        display: none;
    }
}

/****************
ABOUT PAGE
******************/

@media screen and (max-width: 750px) {
    #monkey {
        display: none;
    }

    #monkey2 {
        display: block;
        margin-left: 13%;
        margin-right: 13%;
    }

    #about-text {
        float: left;
        padding-left: 10%;
        text-align: center;
    }

    #about-text h3{
        padding: 0;
        padding-right: 15%;
    }
}

@media screen and (max-width: 500px) {

    #monkey2 {
        display: none;
        }
    }

    .about #about-text {
        margin-bottom: 10%;
    }
